{% extends "layout.html" %}
{% block title %}Reservation{% endblock %}
{% block head %}
  {{ super() }}


{% endblock %}

{% block content %}


    <!-- Begin page content -->
    <div class="container">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><b>예약자 현황</b></h3>
          </div>
          <div class="panel-body">
            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>이름</th>
                        <th>예약일</th>
                        <th>회차</th>
                        <th>예약인원</th>
                        <th>이메일</th>
                        <th>연락처</th>
                        </tr>
                    </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{  loop.index }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.rdate }}</td>
                        <td>{{ user.order }}</td>
                        <td>{{ user.person }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.tel }}</td>
                    </tr>
                    </tbody>
                {% endfor %}

            </table>

          </div> <!-- End of Panel Body-->
          <div class="panel-footer">
              2014.06.02일 마감
          </div>
        </div>
    </form>
    </div>

    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </div>




{% endblock %}


{% block footer %} {{ super() }} {% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $('#datetimepicker5').datetimepicker({
                    pickTime: false
            });

        });

    </script>
{% endblock %}
